<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>MeNu</title>
</head>
<body>
  <form method="get" th:action="@{/PersonalAccount}">
    <input type="submit" value="PersonalAccount">
    <input type="hidden" name="userId" th:value="${userId}">
  </form>
  <table>
      <tr th:each="product : ${listProducts}">
          <form method="post" th:action="@{/addProductMenu}">
                <td>
                <p th:text="${product.productName}">productName</p> <br>
                    <input type="submit" value="add">
<!--                    <input type="submit" value="delete" th:formaction="@{/deleteProductMenu}">-->
                    <input type="hidden" name="productId" th:value="${product.classId}">
                    <input type="hidden" name="userId" th:value="${userId}">
                  </td>
                <td th:text="${product.price}"><p>price</p></td>
          </form>
      </tr>
  </table>

<form method="get" th:action="@{/CurrentOrder}">
    <input type="submit" value="Basket">
    <input type="hidden" name="userId" th:value="${userId}">
</form>

</body>
</html>