<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>PersonalAccount</title>
</head>
<body>

<form method="get" th:action="@{/Menu}">
    <input type="submit" value="Menu">
    <input type="hidden" name="userId" th:value="${userId}">
</form>

<form method="post" th:action="@{/PersonalAccount}">
    <input type="hidden" name="userId" th:value="${userId}">
    <p><input name="login" th:placeholder="${login}"></p>
    <p><input name="email" th:placeholder="${email}"></p>
    <p><input name="password" th:placeholder="${password}"></p>
    <p><input type="submit" value="Change private information"></p>
</form>

<form method="get" th:action="@{/OrderHistory}">
    <input type="submit" value="OrderHistory">
    <input type="hidden" name="userId" th:value="${userId}">
</form>

</body>
</html>